@model projectCD.Models.Artist

@{
    ViewData["Title"] = "Details";
}
    <div class="backContainer">
        <h1>Visa info</h1>

        <div>
            <h4>Artist</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.ArtistId">Uppdatera</a> |
            <a asp-action="Index">Tillbaka till listan</a>
        </div>
        </div>
